h1{
    background-color:#000080;
    color:#ffffff;
}
a{
    color:#ffffff;
    font-weight:bold;
    text-decoration:none;
}
a:hover{
    background-color:#ffffff;
    color:#0070cc;
    width:640px;
}
nav{
    background-color:#0070cc;
    //width:377px;
}
td{
     background-color:#6633cc;
     color:#ffffff;
}